doctype html
html
  head
    title= title
    meta(name='description', content='Create short URLs and also monitor traffic with proper analysis report.')

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='/static/stylesheets/style.css')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

  body
    block content
